/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  /* overflow-x: hidden; */
}

:root{
  --white:#E6E6E6; /*0.25*/
  --gunmetal:#848484; /*0.5*/
  --silver:#424242; /*0.75*/
  --grey:#1C1C1C; /*0.87*/
  --black:#141414; /*0.90*/
  --yellow:#debe49; /*amarillo*/
  --type-font: monospace;
}
body{
  background-color: var(--grey);
  font-family: var(--type-font);
  color: var(--white);
  position: relative;
  width: 100vw;
  min-height: 100vh;
  /* border: solid 2px royalblue; */
  
}

.contain{
  /* border: solid 2px royalblue; */
  max-width: 900px;
  margin: auto;
}
/* TITLE */
.title-1{
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


/* SEARCHER */
.search{
  text-align: center;
  display: flex;
  width: 100%;
  /* border: solid 2px rgb(112, 200, 112); */
  padding-bottom: 2rem;
  position: relative;
}

.search-input{
  border-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 20px;
  box-sizing: border-box;
  background-color: var(--grey);
  border: solid 2px #debe49;
  border-radius: 10px;
  height: 2rem;
  width: 100%;
  color: var(--white);
  font-weight: bold;
  font-size: 1rem;
  
}
.search-input:hover{
  background-color: var(--silver);
  border: solid 2.5px #debe49;
  color: var(--white);
  font-weight: bold;
}

/* BUTTON OF SEARCHER */
.search-button{
  background-color: var(--yellow);
  height: 30px;
  width: 30px;
  border-radius: 15px;
  color: var(--grey);
  font-size: 18px;
  margin-left: 10px;
  position: absolute;
  right: 4px;
  top: 6.5px;
}

.search-button:hover,
.search-button #img:hover{
  background-color: var(--silver);
  color: var(--yellow);
  cursor: pointer;
  border-color: #424242;

}

/* CONTAIN NOTES LIST (ul) */
.contain-notes{
  list-style: none;
  padding: 0px;
  
}

/* NOTES LIST */
.note-item{
  background-color: var(--black);
  padding: 1rem 1.5rem;
  margin: 1rem auto;
  position: relative;
  border-radius: 12px;
  text-align: center;
  
  
}

.edit{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.note-input{
  width: 100%;
}

.note-item:hover{
  background-color: var(--silver);
  font-size: 112%;
  color: var(--yellow);
}

/* NOTE ITEM OPTIONS */
.hide{
  display: none;
  
}

.note-item-options{
  background-color: var(--grey);
  padding: 4px;
  border-radius: 8px;
  position: absolute;
  right: 0px;
  top: -10px;
}

.note-item-options button{
  border: none;
  background-color: var(--grey);
  color: var(--yellow);
  border-radius: 6px;
  border-color: var(--black);
  font-size: 20px;
}

.note-item-options button:hover{
  /* font-size: 120%; */
  /* border: solid 2px red; */
  color: var(--white);
}
/* .note-item-options button fa fa-pencil:hover{
  font-size: 120%;
}
.note-item-options button fa fa-trash:hover{
  font-size: 120%;
} */

/* CONTAIN BUTTONS FOR ADD */
.contain-buttons{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* BUTTON FOR ADD*/
.add-note{
  background-color: var(--yellow);
  color: var(--grey);
  font-size: 30px;
  padding: 10px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 25px;
  text-align: center;
}

.add-note:hover{
  background-color: var(--grey);
  color: var(--yellow);
  border: solid 1px #debe49;
}

/* NEW NOTE */
.new-note{
  border: solid 3px #debe49;
  border-radius: 15px;
  background-color: var(--silver);
  text-align: center;
  padding: 25px;
  position: fixed;
  top: 55vh;
  bottom: 10vh;
  right: 11vh;
  width: 83%;
  z-index: 1;
  background-position: bottom;
  
}

.new-note-input{
  border: none;
  background-color: var(--black);
  color: var(--white);
  height: 4rem;
  max-width: 90%;
  padding-left: 25px;
  border-radius: 0.7rem;
  font-weight: bold;
  font-size: 1rem;
  word-wrap: break-word;
  white-space:pre-wrap;
}
.new-note-input:hover{
  background-color: var(--yellow);
  color: var(--grey);
  font-weight: bold;
}

.new-note-button{
  border: none;
  border-radius: 1rem;
  background-color: var(--yellow);
  color: var(--grey);
  height: 2rem;
  width: 2rem;
  margin-left: 5px;
}
.new-note-button:hover{
  background-color: var(--black);
  color: var(--white);
  border: solid 3px #debe49;
}
  

/* OTHERS GENERAL */

/* SCROLL  */
body {
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

